
.bdp-icons {
    width: 16px;
    height: 16px;
    margin: 0 2px 0 2px;
    vertical-align: middle;
    display: inline-block;
    float: left;
}

.bdp-icons-checked {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -219px -84px;
}
.om-state-disabled .bdp-icons-checked {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -219px -84px;
}
/*.bdp-icons-unchecked {
    background: url("images/bdp/jr_icons_tool.png") no-repeat 100px 100px;
}*/

.bdp-icons-add {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -3px -3px;
}
.om-state-disabled .bdp-icons-add {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -3px -3px;
}
.bdp-icons-addcopy {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -246px -3px;
}
.om-state-disabled .bdp-icons-addcopy {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -246px -3px;
}


.bdp-icons-look {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -273px -3px;
}
.om-state-disabled .bdp-icons-look {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -273px -3px;
}
.bdp-icons-edit {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -30px -3px;
}
.om-state-disabled .bdp-icons-edit {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -30px -3px;
}
.bdp-icons-delete {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -57px -3px;
}
.om-state-disabled .bdp-icons-delete {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -57px -3px;
}

.bdp-icons-save {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -84px -3px;
}
.om-state-disabled .bdp-icons-save {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -84px -3px;
}

.bdp-icons-printer {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -111px -3px;
}
.om-state-disabled .bdp-icons-printer {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -111px -3px;
}
.bdp-icons-refresh {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -138px -3px;
}
.om-state-disabled .bdp-icons-refresh {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -138px -3px;
}

.bdp-icons-search {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -165px -3px;
    background-color: transparent;
}
.om-state-disabled .bdp-icons-search {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -165px -3px;
    background-color: transparent;
}

.bdp-icons-home {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -192px -3px;
}
.om-state-disabled .bdp-icons-home {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -192px -3px;
}
.bdp-icons-cancel {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -219px -3px;
}
.om-state-disabled .bdp-icons-cancel {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -219px -3px;
}

.bdp-icons-lock {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -300px -3px;
}
.om-state-disabled .bdp-icons-lock {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -300px -3px;
}
.bdp-icons-unlock {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -327px -3px;
}
.om-state-disabled .bdp-icons-unlock {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -327px -3px;
}

.bdp-icons-password {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -354px -3px;
}
.om-state-disabled .bdp-icons-password {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -354px -3px;
}
.bdp-icons-clear {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -381px -3px;
    /*background: url("images/bdp/jr_icons_tool.png") no-repeat -146px -35px;*/
}
.om-state-disabled .bdp-icons-clear {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -381px -3px;
    /*background: url("images/bdp/jr_icons_tool.png") no-repeat -146px -35px;*/
}

.bdp-icons-restoration {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -408px -3px;
}
.om-state-disabled .bdp-icons-restoration {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -408px -3px;
}
.bdp-icons-setting {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -435px -3px;
}
.om-state-disabled .bdp-icons-setting {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -435px -3px;
}

.bdp-icons-card {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -462px -3px;
}
.om-state-disabled .bdp-icons-card {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -462px -3px;
}

.bdp-icons-card_setting {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -489px -3px;
}
.om-state-disabled .bdp-icons-card_setting {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -489px -3px;
}
.treedept {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -164px -1px;
}
.om-state-disabled .treedept {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -164px -1px;
}
/*文件夹*/
.bdp-icons-H_folder {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -3px -30px;
}

.bdp-icons-H_folder_open {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -30px -30px;
}

.bdp-icons-H_folder_search {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -57px -30px;
}

.bdp-icons-folder {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -84px -30px;
}

.bdp-icons-folder_open {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -111px -30px;
}

.bdp-icons-folder_tree {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -138px -30px;
}

.bdp-icons-folders {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -165px -30px;
}

.bdp-icons-folders_more {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -192px -30px;
}

.bdp-icons-folder_add {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -219px -30px;
}

.bdp-icons-folder_delete {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -246px -30px;
}

.bdp-icons-folder_import {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -300px -30px;
}

.bdp-icons-folder_export {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -327px -30px;
}

.bdp-icons-folder_remove {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -273px -30px;
}

.bdp-icons-Blue_H_folder {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -354px -30px;
}

.bdp-icons-Blue_H_folder_open {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -381px -30px;
}

.bdp-icons-Blue_folder {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -408px -30px;
}

.bdp-icons-Blue_folder_open {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -435px -30px;
}

.bdp-icons-Blue_folders {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -462px -30px;
}

.bdp-icons-Blue_folders_more {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -489px -30px;
}

.bdp-icons-Blue_folder_tree {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -3px -57px;
}
/*报警*/
.bdp-icons-alert {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -30px -57px;
}
.om-state-disabled .bdp-icons-alert {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -30px -57px;
}
.bdp-icons-alert_array {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -57px -57px;
}
.om-state-disabled .bdp-icons-alert_array {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -57px -57px;
}
/*警告*/
.bdp-icons-warning {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -84px -57px;
}
.om-state-disabled .bdp-icons-warning {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -84px -57px;
}

.bdp-icons-warning_diam {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -111px -57px;
}
.om-state-disabled .bdp-icons-warning_diam {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -111px -57px;
}
.bdp-icons-warning_diam_ifram {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -138px -57px;
}
.om-state-disabled .bdp-icons-warning_diam_ifram {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -138px -57px;
}
/*错误*/
.bdp-icons-close {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -165px -57px;
}
.om-state-disabled .bdp-icons-close {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -165px -57px;
}

.bdp-icons-error {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -192px -57px;
}
.om-state-disabled .bdp-icons-error {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -192px -57px;
}

.bdp-icons-error_butt {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -219px -57px;
}
.om-state-disabled .bdp-icons-error_butt {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -219px -57px;
}

.bdp-icons-revoke {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -246px -57px;
}
.om-state-disabled .bdp-icons-revoke {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -246px -57px;
}

.bdp-icons-debug {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -327px -57px;
}
.om-state-disabled .bdp-icons-debug {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -327px -57px;
}

.bdp-icons-debug_normal {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -354px -57px;
}
.om-state-disabled .bdp-icons-debug_normal {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -354px -57px;
}

.bdp-icons-information {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -273px -57px;
}
.om-state-disabled .bdp-icons-information {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -273px -57px;
}

.bdp-icons-help {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -300px -57px;
}
.om-state-disabled .bdp-icons-help {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -300px -57px;
}


.bdp-icons-mail {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -435px -57px;
}
.om-state-disabled .bdp-icons-mail {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -435px -57px;
}

.bdp-icons-mail_Handle {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -462px -57px;
}
.om-state-disabled .bdp-icons-mail_Handle {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -462px -57px;
}

.bdp-icons-mail_View {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -489px -57px;
}
.om-state-disabled .bdp-icons-mail_View {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -489px -57px;
}

.bdp-icons-mail_go {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -516px -57px;
}
.om-state-disabled .bdp-icons-mail_go {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -516px -57px;
}








.bdp-icons-nav_back {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -3px -84px;
}

.bdp-icons-nav_go {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -30px -84px;
}

.bdp-icons-nav_back_white {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -57px -84px;
}

.bdp-icons-nav_go_white {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -84px -84px;
}

.bdp-icons-remove {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -111px -84px;
}

.bdp-icons-remove_add {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -138px -84px;
}

.bdp-icons-remove_detele {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -165px -84px;
}

.bdp-icons-remove_child {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -192px -84px;
}
/*tick*/
.bdp-icons-tick {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -219px -84px;
}

.bdp-icons-tick_ifram {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -246px -84px;
}

.bdp-icons-tick_button {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -273px -84px;
}

.bdp-icons-word_13 {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -300px -84px;
}

.bdp-icons-excel_13 {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -327px -84px;
}

.bdp-icons-word_07 {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -354px -84px;
}

.bdp-icons-excel_07 {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -381px -84px;
}
.bdp-icons-ellipsis {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -435px -84px;
}

.bdp-icons-ellipsis2 {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -462px -84px;
}





.bdp-icons-backlog {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -3px -111px;
}

.bdp-icons-task_look {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -30px -111px;
}

.bdp-icons-task_time {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -57px -111px;
}

.bdp-icons-task_seal {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -84px -111px;
}

.bdp-icons-sum {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -111px -111px;
}

.bdp-icons-chart {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -138px -111px;
}

.bdp-icons-chart_pie {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -165px -111px;
}

.bdp-icons-calculator {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -192px -111px;
}

.bdp-icons-calculator_save {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -219px -111px;
}

.bdp-icons-rmb {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -246px -111px;
}

.bdp-icons-coin {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -273px -111px;
}

.bdp-icons-coin_add {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -300px -111px;
}

.bdp-icons-coin_del {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -327px -111px;
}

.bdp-icons-coin_setting {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -354px -111px;
}

.bdp-icons-credit {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -381px -111px;
}

.bdp-icons-credits {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -408px -111px;
}

.bdp-icons-credit_go {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -435px -111px;
}

.bdp-icons-table {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -462px -111px;
}

.bdp-icons-table_export {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -489px -111px;
}

.bdp-icons-table_inport {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -516px -111px;
}



.bdp-icons-contract {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -3px -138px;
}

.bdp-icons-contract_add {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -30px -138px;
}

.bdp-icons-contract_setting {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -57px -138px;
}

.bdp-icons-contract_check {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -84px -138px;
}

.bdp-icons-contract_look {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -111px -138px;
}

.bdp-icons-report {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -138px -138px;
}
.bdp-icons-notice {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -165px -138px;
}
.bdp-icons-flow {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -192px -138px;
}
.bdp-icons-flow_tick {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -219px -138px;
}
.bdp-icons-flow_edit {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -246px -138px;
}
.bdp-icons-flow_look {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -273px -138px;
}
.bdp-icons-vip {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -300px -138px;
}
.bdp-icons-vip_cancel {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -327px -138px;
}
.bdp-icons-come_in {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -354px -138px;
}
.bdp-icons-voice {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -381px -138px;
}
.bdp-icons-tell {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -408px -138px;
}
.bdp-icons-pda {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -435px -138px;
}
.bdp-icons-pda-icon {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -462px -138px;
}
.bdp-icons-pda-type {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -489px -138px;
}


.bdp-icons-car_card {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -3px -165px;
}
.bdp-icons-carcard_cancel {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -30px -165px;
}
.bdp-icons-mark {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -57px -165px;
}
.bdp-icons-mark_cancel {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -84px -165px;
}
.bdp-icons-goods {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -111px -165px;
}
.bdp-icons-goods_Change {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -138px -165px;
}
.bdp-icons-goods2 {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -165px -165px;
}
.bdp-icons-Files {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -192px -165px;
}
.bdp-icons-Pre_sale {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -219px -165px;
}
.bdp-icons-book {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -246px -165px;
}
.bdp-icons-calendar {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -273px -165px;
}

.bdp-icons-work {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -300px -165px;
}

.bdp-icons-work_agent {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -327px -165px;
}

.bdp-icons-work_look {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -354px -165px;
}

.bdp-icons-clock {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -381px -165px;
}

.bdp-icons-clock_add {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -408px -165px;
}

.bdp-icons-clock_edit {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -435px -165px;
}

.bdp-icons-clock_select {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -462px -165px;
}

.bdp-icons-clock_select_remain {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -489px -165px;
}


/*人物相关*/
.bdp-icons-UsersGroup {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -3px -219px;
}

.bdp-icons-Users {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -30px -219px;
}

.bdp-icons-Users_add {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -57px -219px;
}

.bdp-icons-Users_edit {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -84px -219px;
}

.bdp-icons-Users_delete {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -111px -219px;
}

.bdp-icons-Users_remove {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -138px -219px;
}

.bdp-icons-Users_setting {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -165px -219px;
}

.bdp-icons-User {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -192px -219px;
}

.bdp-icons-boss {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -219px -219px;
}

.bdp-icons-worker {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -246px -219px;
}
.bdp-icons-up {
    background: url(images/itemselector/up.png) no-repeat;
}

.bdp-icons-down {
    background: url(images/itemselector/down.png) no-repeat;
}



.error {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -218px -1px;
}

.search_2 {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -236px -1px;
}

.priv {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -254px -1px;
}

.recycle {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -290px -1px;
}

.close {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -308px -1px;
}

.moveline {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -2px -19px;
}

.addline {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -20px -19px;
}

.delline {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -38px -19px;
}

.work {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -56px -19px;
}

.work_view {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -74px -19px;
}

.undo {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -92px -19px;
}

.view {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -110px -19px;
}

.addpre {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -128px -19px;
}

/*角色*/
.per {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -2px -91px;
}

.users {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -20px -91px;
}

.users_add {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -38px -91px;
}

.users_mod {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -56px -91px;
}

.users_dell {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -74px -91px;
}

.users_arrow {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -92px -91px;
}

.user {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -110px -91px;
}

.user_boss {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -128px -91px;
}

.user_worker {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -146px -91px;
}

.user_set {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -164px -91px;
}

.bdp-icons-QRcode {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -300px -219px;
}
.bdp-icons-scan {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -327px -219px;
}

/*线性图标*/

.bdp-icons-glyph-add {
    background: url("images/bdp/Glyph_icon.png") no-repeat -2px -2px;
}

.bdp-icons-glyph-delete {
    background: url("images/bdp/Glyph_icon.png") no-repeat -20px -2px;
}

.bdp-icons-glyph-close {
    background: url("images/bdp/Glyph_icon.png") no-repeat -38px -2px;
}

.bdp-icons-glyph-search {
    background: url("images/bdp/Glyph_icon.png") no-repeat -56px -2px;
}






/*灰色*/




.om-state-disabled .bdp-icons-nav_back {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -3px -84px;
}

.om-state-disabled .bdp-icons-nav_go {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -30px -84px;
}

.om-state-disabled .bdp-icons-nav_back_white {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -57px -84px;
}

.om-state-disabled .bdp-icons-nav_go_white {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -84px -84px;
}

.om-state-disabled .bdp-icons-remove {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -111px -84px;
}

.om-state-disabled .bdp-icons-remove_add {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -138px -84px;
}

.om-state-disabled .bdp-icons-remove_detele {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -165px -84px;
}

.om-state-disabled .bdp-icons-remove_child {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -192px -84px;
}
/*tick*/
.om-state-disabled .bdp-icons-tick {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -219px -84px;
}

.om-state-disabled .bdp-icons-tick_ifram {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -246px -84px;
}

.om-state-disabled .bdp-icons-tick_button {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -273px -84px;
}

.om-state-disabled .bdp-icons-word_13 {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -300px -84px;
}

.om-state-disabled .bdp-icons-excel_13 {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -327px -84px;
}

.om-state-disabled .bdp-icons-word_07 {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -354px -84px;
}

.om-state-disabled .bdp-icons-excel_07 {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -381px -84px;
}
.om-state-disabled .bdp-icons-ellipsis {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -435px -84px;
}

.om-state-disabled .bdp-icons-ellipsis2 {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -462px -84px;
}





.om-state-disabled .bdp-icons-backlog {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -3px -111px;
}

.om-state-disabled .bdp-icons-task_look {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -30px -111px;
}

.om-state-disabled .bdp-icons-task_time {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -57px -111px;
}

.om-state-disabled .bdp-icons-task_seal {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -84px -111px;
}

.om-state-disabled .bdp-icons-sum {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -111px -111px;
}

.om-state-disabled .bdp-icons-chart {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -138px -111px;
}

.om-state-disabled .bdp-icons-chart_pie {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -165px -111px;
}

.om-state-disabled .bdp-icons-calculator {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -192px -111px;
}

.om-state-disabled .bdp-icons-calculator_save {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -219px -111px;
}

.om-state-disabled .bdp-icons-rmb {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -246px -111px;
}

.om-state-disabled .bdp-icons-coin {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -273px -111px;
}

.om-state-disabled .bdp-icons-coin_add {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -300px -111px;
}

.om-state-disabled .bdp-icons-coin_del {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -327px -111px;
}

.om-state-disabled .bdp-icons-coin_setting {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -354px -111px;
}

.om-state-disabled .bdp-icons-credit {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -381px -111px;
}

.om-state-disabled .bdp-icons-credits {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -408px -111px;
}

.om-state-disabled .bdp-icons-credit_go {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -435px -111px;
}

.om-state-disabled .bdp-icons-table {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -462px -111px;
}

.om-state-disabled .bdp-icons-table_export {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -489px -111px;
}

.om-state-disabled .bdp-icons-table_inport {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -516px -111px;
}



.om-state-disabled .bdp-icons-contract {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -3px -138px;
}

.om-state-disabled .bdp-icons-contract_add {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -30px -138px;
}

.om-state-disabled .bdp-icons-contract_setting {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -57px -138px;
}

.om-state-disabled .bdp-icons-contract_check {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -84px -138px;
}

.om-state-disabled .bdp-icons-contract_look {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -111px -138px;
}

.om-state-disabled .bdp-icons-report {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -138px -138px;
}
.om-state-disabled .bdp-icons-notice {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -165px -138px;
}
.om-state-disabled .bdp-icons-flow {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -192px -138px;
}
.om-state-disabled .bdp-icons-flow_tick {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -219px -138px;
}
.om-state-disabled .bdp-icons-flow_edit {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -246px -138px;
}
.om-state-disabled .bdp-icons-flow_look {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -273px -138px;
}
.om-state-disabled .bdp-icons-vip {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -300px -138px;
}
.om-state-disabled .bdp-icons-vip_cancel {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -327px -138px;
}
.om-state-disabled .bdp-icons-come_in {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -354px -138px;
}
.om-state-disabled .bdp-icons-voice {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -381px -138px;
}
.om-state-disabled .bdp-icons-tell {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -408px -138px;
}
.om-state-disabled .bdp-icons-pda {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -435px -138px;
}
.om-state-disabled .bdp-icons-pda-icon {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -462px -138px;
}
.om-state-disabled .bdp-icons-pda-type {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -489px -138px;
}

.om-state-disabled .bdp-icons-car_card {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -3px -165px;
}
.om-state-disabled .bdp-icons-carcard_cancel {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -30px -165px;
}
.om-state-disabled .bdp-icons-mark {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -57px -165px;
}
.om-state-disabled .bdp-icons-mark_cancel {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -84px -165px;
}
.om-state-disabled .bdp-icons-goods {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -111px -165px;
}
.om-state-disabled .bdp-icons-goods_Change {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -138px -165px;
}
.om-state-disabled .bdp-icons-goods2 {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -165px -165px;
}
.om-state-disabled .bdp-icons-Files {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -192px -165px;
}
.om-state-disabled .bdp-icons-Pre_sale {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -219px -165px;
}
.om-state-disabled .bdp-icons-book {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -246px -165px;
}
.om-state-disabled .bdp-icons-calendar {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -273px -165px;
}

.om-state-disabled .bdp-icons-work {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -300px -165px;
}

.om-state-disabled .bdp-icons-work_agent {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -327px -165px;
}

.om-state-disabled .bdp-icons-work_look {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -354px -165px;
}

.om-state-disabled .bdp-icons-clock {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -381px -165px;
}

.om-state-disabled .bdp-icons-clock_add {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -408px -165px;
}

.om-state-disabled .bdp-icons-clock_edit {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -435px -165px;
}

.om-state-disabled .bdp-icons-clock_select {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -462px -165px;
}

.om-state-disabled .bdp-icons-clock_select_remain {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -489px -165px;
}


/*人物相关*/
.om-state-disabled .bdp-icons-UsersGroup {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -3px -219px;
}

.om-state-disabled .bdp-icons-Users {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -30px -219px;
}

.om-state-disabled .bdp-icons-Users_add {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -57px -219px;
}

.om-state-disabled .bdp-icons-Users_edit {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -84px -219px;
}

.om-state-disabled .bdp-icons-Users_delete {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -111px -219px;
}

.om-state-disabled .bdp-icons-Users_remove {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -138px -219px;
}

.om-state-disabled .bdp-icons-Users_setting {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -165px -219px;
}

.om-state-disabled .bdp-icons-User {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -192px -219px;
}

.om-state-disabled .bdp-icons-boss {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -219px -219px;
}

.om-state-disabled .bdp-icons-worker {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -246px -219px;
}
.om-state-disabled .bdp-icons-up {
    background: url(images/itemselector/up.png) no-repeat;
}

.om-state-disabled .bdp-icons-down {
    background: url(images/itemselector/down.png) no-repeat;
}



.om-state-disabled .error {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -218px -1px;
}

.om-state-disabled .search_2 {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -236px -1px;
}

.om-state-disabled .priv {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -254px -1px;
}

.om-state-disabled .recycle {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -290px -1px;
}

.om-state-disabled .close {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -308px -1px;
}

.om-state-disabled .moveline {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -2px -19px;
}

.om-state-disabled .addline {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -20px -19px;
}

.om-state-disabled .delline {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -38px -19px;
}

.om-state-disabled .work {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -56px -19px;
}

.om-state-disabled .work_view {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -74px -19px;
}

.om-state-disabled .undo {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -92px -19px;
}

.om-state-disabled .view {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -110px -19px;
}

.om-state-disabled .addpre {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -128px -19px;
}

/*角色*/
.om-state-disabled .per {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -2px -91px;
}

.om-state-disabled .users {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -20px -91px;
}

.om-state-disabled .users_add {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -38px -91px;
}

.om-state-disabled .users_mod {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -56px -91px;
}

.om-state-disabled .users_dell {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -74px -91px;
}

.om-state-disabled .users_arrow {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -92px -91px;
}

.om-state-disabled .user {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -110px -91px;
}

.om-state-disabled .user_boss {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -128px -91px;
}

.om-state-disabled .user_worker {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -146px -91px;
}

.om-state-disabled .user_set {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -164px -91px;
}


/*向上箭头*/

.bdp-icons-moveup {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -3px -192px;
}
.bdp-icons-movedown {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -30px -192px;
}
.bdp-icons-moveup_blue {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -57px -192px;
}
.bdp-icons-movedown_blue {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -84px -192px;
}
.bdp-icons-moveup_radius {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -111px -192px;
}
.bdp-icons-movedown_radius {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -138px -192px;
}
.bdp-icons-moveup_radius_blue {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -165px -192px;
}
.bdp-icons-movedown_radius_blue {
    background: url("images/bdp/jr_icons_tool.png") no-repeat -192px -192px;
}
/*禁用*/
.om-state-disabled .bdp-icons-moveup {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -3px -192px;
}
.om-state-disabled .bdp-icons-movedown {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -30px -192px;
}
.om-state-disabled .bdp-icons-moveup_blue {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -57px -192px;
}
.om-state-disabled .bdp-icons-movedown_blue {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -84px -192px;
}
.om-state-disabled .bdp-icons-moveup_radius {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -111px -192px;
}
.om-state-disabled .bdp-icons-movedown_radius {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -138px -192px;
}
.om-state-disabled .bdp-icons-moveup_radius_blue {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -165px -192px;
}
.om-state-disabled .bdp-icons-movedown_radius_blue {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -192px -192px;
}


/*展开收缩*/
.bdp-icons-collase{
    background: url("images/bdp/jr_icons_tool.png") no-repeat -219px -192px;
}
.bdp-icons-expand{
    background: url("images/bdp/jr_icons_tool.png") no-repeat -246px -192px;
}
.om-state-disabled .bdp-icons-collase {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -219px -192px;
}
.om-state-disabled .bdp-icons-expand {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -246px -192px;
}


.bdp-icons-p{
    background: url("images/bdp/jr_icons_tool.png") no-repeat -381px -246px;
}
.om-state-disabled .bdp-icons-p{
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -381px -246px;
}
.bdp-icons-clock-t{
    background: url("images/bdp/jr_icons_tool.png") no-repeat -354px -246px;
}
.om-state-disabled .bdp-icons-clock-t{
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -354px -246px;
}
.bdp-icons-collection{
    background: url("images/bdp/jr_icons_tool.png") no-repeat -273px -246px;
}
.om-state-disabled .bdp-icons-collection{
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -273px -246px;
}
.bdp-icons-network-ethernet{
    background: url("images/bdp/jr_icons_tool.png") no-repeat -246px -246px;
}
.om-state-disabled .bdp-icons-network-ethernet{
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -246px -246px;
}
.bdp-icons-car-bus{
    background: url("images/bdp/jr_icons_tool.png") no-repeat -192px -246px;
}
.om-state-disabled .bdp-icons-car-bus{
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -192px -246px;
}
.bdp-icons-car-truck{
    background: url("images/bdp/jr_icons_tool.png") no-repeat -111px -246px;
}
.om-state-disabled .bdp-icons-car-truck{
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -111px -246px;
}
.bdp-icons-hat{
    background: url("images/bdp/jr_icons_tool.png") no-repeat -165px -246px;
}
.om-state-disabled .bdp-icons-hat{
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -165px -246px;
}
.bdp-icons-box{
    background: url("images/bdp/jr_icons_tool.png") no-repeat -138px -246px;
}
.om-state-disabled .bdp-icons-box{
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -138px -246px;
}
.bdp-icons-computer{
    background: url("images/bdp/jr_icons_tool.png") no-repeat -3px -246px;
}
.om-state-disabled .bdp-icons-computer{
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -3px -246px;
}
.bdp-icons-folders2{
    background: url("images/bdp/jr_icons_tool.png") no-repeat -84px -246px;
}
.om-state-disabled .bdp-icons-folders2{
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -84px -246px;
}
.bdp-icons-setting-all{
    background: url("images/bdp/jr_icons_tool.png") no-repeat -516px -2px;
}
.om-state-disabled .bdp-icons-setting-all{
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -516px -3px;
}
.bdp-icons-application{
    background: url("images/bdp/jr_icons_tool.png") no-repeat -327px -246px;
}
.om-state-disabled .bdp-icons-application{
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -327px -246px;
}



.bdp-icons-database{
    background: url("images/bdp/jr_icons_tool.png") no-repeat -300px -192px;
}
.om-state-disabled .bdp-icons-database{
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -300px -192px;
}
.bdp-icons-database-cloud{
    background: url("images/bdp/jr_icons_tool.png") no-repeat -327px -192px;
}
.om-state-disabled .bdp-icons-database-cloud{
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -327px -192px;
}
.bdp-icons-database-network{
    background: url("images/bdp/jr_icons_tool.png") no-repeat -354px -192px;
}
.om-state-disabled .bdp-icons-database-network{
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -354px -192px;
}
.bdp-icons-databases{
    background: url("images/bdp/jr_icons_tool.png") no-repeat -381px -192px;
}
.om-state-disabled .bdp-icons-databases{
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -391px -192px;
}
.bdp-icons-databases-relation{
    background: url("images/bdp/jr_icons_tool.png") no-repeat -408px -192px;
}
.om-state-disabled .bdp-icons-databases-relation{
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -408px -192px;
}
.bdp-icons-database-sql{
    background: url("images/bdp/jr_icons_tool.png") no-repeat -435px -192px;
}
.om-state-disabled .bdp-icons-database-sql{
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -435px -192px;
}
.bdp-icons-database-insert{
    background: url("images/bdp/jr_icons_tool.png") no-repeat -462px -192px;
}
.om-state-disabled .bdp-icons-database-insert{
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -462px -192px;
}
.bdp-icons-database-delete{
    background: url("images/bdp/jr_icons_tool.png") no-repeat -489px -192px;
}
.om-state-disabled .bdp-icons-database-delete{
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -489px -192px;
}



.bdp-icons-sqltables{
    background: url("images/bdp/jr_icons_tool.png") no-repeat -3px -273px;
}
.om-state-disabled .bdp-icons-sqltables{
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -3px -273px;
}

.bdp-icons-sqltables-add{
    background: url("images/bdp/jr_icons_tool.png") no-repeat -30px -273px;
}
.om-state-disabled .bdp-icons-sqltables-add{
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -30px -273px;
}

.bdp-icons-sqltables-delete{
    background: url("images/bdp/jr_icons_tool.png") no-repeat -57px -273px;
}
.om-state-disabled .bdp-icons-sqltables-delete{
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -57px -273px;
}



.bdp-icons-page{
    background: url("images/bdp/jr_icons_tool.png") no-repeat -3px -300px;
}
.om-state-disabled .bdp-icons-page{
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -3px -300px;
}
.bdp-icons-page_white{
    background: url("images/bdp/jr_icons_tool.png") no-repeat -30px -300px;
}
.om-state-disabled .bdp-icons-page_white{
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -30px -300px;
}


.om-state-disabled .bdp-icons-QRcode {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -300px -219px;
}
.om-state-disabled .bdp-icons-scan {
    background: url("images/bdp/jr_icons_tool_disabled.png") no-repeat -327px -219px;
}